<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 style="color:red;text-align:center">Employee Report Page</h1>


  <div th:if="${!resultList.empty}">
   <table border="1" bgcolor="cyan" align="center">
       <tr>
           <th>Emp No</th><th>Emp Name</th><th>Emp Designation</th><th>Emp Salary</th><th>Operations</th>
       </tr >
     
           <tr th:each = "emp:${resultList}">
              <td> <span th:text="${emp.empNo}"/></td>
              <td><span th:text="${emp.ename}"/></td>
              <td><span th:text="${emp.job}"/></td>
              <td><span th:text="${emp.sal}"/></td>
              <td><a th:href="@{/employee/edit(no=${emp.empNo})}"><img th:src="@{/images/edit.jpg}" width="25" height="25"></a> </td>
              <td><a th:href="@{/employee/delete(no=${emp.empNo})}"  onclick="return confirm('Give Confirmaiton to delete')" 	><img th:src="@{/images/delete.jpg}" width="25" height="25"></a> </td>
           </tr>
   </table>
</div>

<div th:if="${resultList.empty}">
    <h1 style="color:red;text-align:center">Record Not Found</h1>
</div>
<center>
    <h1 style="color:Green;text-align:center" th:text="${resultMsg}"/>
</center>

<center>
  <a th:href="@{/employee/}">home <img th:src="@{/images/Home.jpg}" width="50" height="50"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a th:href="@{/employee/add}">Add Employee <img th:src="@{/images/add.jpg}" width="50" height="50"></a>
</center>

</body>
</html>
